stages:
  - test

test-idology:
  stage: test
  image: golang:stretch
  script:
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "https://gitlab.com/"
  - git clone -b $CI_COMMIT_REF_NAME $CI_REPOSITORY_URL $GOPATH/src/gitlab.com/$CI_PROJECT_PATH
  - go get -d -v ./...
  - go get github.com/jarcoal/httpmock github.com/onsi/ginkgo/ginkgo github.com/onsi/gomega/...
  - cd $GOPATH/src/gitlab.com/$CI_PROJECT_PATH/integrations/idology
  - go test ./... -cover

test-trulioo:
  stage: test
  image: golang:stretch
  script:
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "https://gitlab.com/"
  - git clone -b $CI_COMMIT_REF_NAME $CI_REPOSITORY_URL $GOPATH/src/gitlab.com/$CI_PROJECT_PATH
  - go get -d -v ./...
  - go get github.com/stretchr/testify
  - go get gopkg.in/jarcoal/httpmock.v1
  - cd $GOPATH/src/gitlab.com/$CI_PROJECT_PATH/integrations/trulioo
  - go test ./...

test-sumsub:
  stage: test
  image: golang:stretch
  script:
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "https://gitlab.com/"
  - git clone -b $CI_COMMIT_REF_NAME $CI_REPOSITORY_URL $GOPATH/src/gitlab.com/$CI_PROJECT_PATH
  - go get -d -v ./...
  - go get github.com/stretchr/testify
  - go get gopkg.in/jarcoal/httpmock.v1
  - cd $GOPATH/src/gitlab.com/$CI_PROJECT_PATH/integrations/sumsub
  - go test ./...

test-shufti-pro:
  stage: test
  image: golang:stretch
  script:
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "https://gitlab.com/"
  - git clone -b $CI_COMMIT_REF_NAME $CI_REPOSITORY_URL $GOPATH/src/gitlab.com/$CI_PROJECT_PATH
  - go get -d -v ./...
  - go get github.com/stretchr/testify
  - go get gopkg.in/jarcoal/httpmock.v1
  - cd $GOPATH/src/gitlab.com/$CI_PROJECT_PATH/integrations/shuftipro
  - go test ./...

test-identitymind:
  stage: test
  image: golang:stretch
  script:
  - git config --global url."https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.com/".insteadOf "https://gitlab.com/"
  - git clone -b $CI_COMMIT_REF_NAME $CI_REPOSITORY_URL $GOPATH/src/gitlab.com/$CI_PROJECT_PATH
  - go get -d -v ./...
  - go get github.com/jarcoal/httpmock github.com/onsi/ginkgo/ginkgo github.com/onsi/gomega/...
  - cd $GOPATH/src/gitlab.com/$CI_PROJECT_PATH/integrations/identitymind
  - go test ./... -cover
